#Cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}
.AddToCartButton{
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(89, 92, 251);
    border: 1px solid rgb(89, 92, 251);
    border-radius: 3px;

}
.AddToCartButton:hover{
    background-color: rgb(102, 105, 248);
    border: 1px solid rgb(102, 105, 248);
}
.subtotal{
    margin-top: 10px;
}
#Checkout{
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}
#Checkout::-webkit-scrollbar{
    background-color: rgb(194, 232, 244);
    max-width: 10px;
    border-radius: 10px;
}
#Checkout::-webkit-scrollbar-button{
    background-color: rgb(187, 183, 183);
    border-radius: 10px;
}
#Checkout::-webkit-scrollbar-thumb{
    background-color: rgb(81, 202, 250);
    border-radius: 10px;
}
.CheckoutLink{
    text-decoration: none;
    color: white;
}
.FilterProductsCard{
    background-color: white;
    display: flex;
}