@media screen and (max-width:900px) {
    #Filter{
        display: none;
    }
    .FilterProductsCard{
        display: flex;
        flex-direction: column;
    }
}
#FilterPage{
    display: flex;
    flex-direction: row;
    background-color: white;
    
}
#Inputs{
    display: flex;
    align-items: center;
    font-size:large;
}
#Inputs_TextField{
    text-align: center;
}
#FilteredProducts{
    display: flex;
    flex-direction: row;
    min-width: 300px;
    height: 100px;
    flex-wrap: wrap;

}
.FilterProductsCard{
    width: 100%;
    display: flex;
}
.filteredProducts{
    background-color: white;
}